extends layout

block content
  div.jumbotron.my-3
    h1.display-4 Mr. Scheduling
    p.lead 
    | Mr.Scheduling is a service that allows you to authenticate, schedule, and take attendance on GitHub! <br>
    | Mr. Schedulingは、GitHubで認証でき、予定を作って出欠が取れるサービスです
  if user
    div
      a(href="/schedules/new").btn.btn-info Make a plan
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 List of created schedules
      table.table
        tr
          th Scheduled name
          th Update Date
        each schedule in schedules
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
