extends layout

block content
  form(method="post", action="/schedules").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") Scheduled name
      input(type="text" name="scheduleName")#scheduleName.form-control
    div.form-group
      label(for="memo") Memo
      textarea(name="memo")#memo.form-control
    div.form-group
      label(for="candidates") Add candidate dates (Please enter multiple entries in a new line.)
      textarea(name="candidates" rows="4")#candidates.form-control
    button(type="submit").btn.btn-info Make a plan
